# Do you know you can create tuples with only one element?
In the cell below, define a variable tup with a single element "I".

In [31]:
tup = ('I',)
tup

('I',)

# Make sure its type is correct (i.e. tuple instead of str).

In [32]:
type(tup)

tuple

Now try to append the following elements to tup.
Are you able to do it? Explain.

"r", "o", "n", "h", "a", "c", "k',

In [33]:
tup.append("r", "o", "n", "h", "a", "c", "k",)

AttributeError: 'tuple' object has no attribute 'append'

In [35]:
#Las tuplas son inmutables por lo que no podemos añadir ni modificar ningún elemnto. Para poder hacer esto, necesitamos convertir la tupla en una lista.

tup=list(tup)
type(tup)

print (tup)

nuevos_elementos=["r", "o", "n", "h", "a", "c", "k"]

tup= tup+nuevos_elementos

print(tup)

['I']
['I', 'r', 'o', 'n', 'h', 'a', 'c', 'k']

Split tup into tup1 and tup2 with 4 elements in each.
tup1 should be ("I", "r", "o", "n") and tup2 should be ("h", "a", "c", "k").

Hint: use positive index numbers for tup1 assignment and use negative index numbers for tup2 assignment. Positive index numbers count from the beginning whereas negative index numbers count from the end of the sequence.

Also print tup1 and tup2.

In [41]:
#convertimos primero a tupla de nuevo para poder aplicar .split

tup=tuple(tup)
type(tup)

#creamos dos tuplas por separado poniendo como tope el elemento en el que
#queremos separar, en este caso 'n' que esta

tuple